<a href="https://colab.research.google.com/github/ricecakeblack/myRepoTest/blob/main/9_pandas_preproc_apply_lambda_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## 실습에 사용할 예제 파일

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## 데이터프레임 로드

In [ ]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

## 1. apply

In [ ]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

apply는 Series나 DataFrame에 좀 더 **구체적인 로직**을 적용하고 싶은 경우 활용합니다.

* apply를 적용하기 위해서는 함수가 먼저 정의되어야합니다.
* apply는 정의한 로직 함수를 인자로 넘겨줍니다.

In [ ]:
df.loc[df['성별'] == '남자', '성별'] = 1
df.loc[df['성별'] == '여자', '성별'] = 0
df

      이름     그룹      소속사 성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  1  1993-03-09  174.0   O   2925442

### 1-1. (목표) 남자/ 여자의 문자열 데이터로 구성된 '성별' column을 1 / 0 으로 바꿔보세요

In [ ]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [ ]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

남자: 1
여자: 0
기타: -1

**[주의] 반드시 return 값이 존재**하여야합니다.

In [ ]:
# 먼저 apply에 활용할 함수를 정의합니다.
def male_or_female(x):
    if x == '남자':
        return 1
    elif x == '여자':
        return 0


df['성별_NEW'] = df['성별'].apply(male_or_female)
df.head()

     이름     그룹  소속사 성별        생년월일      키 혈액형   브랜드평판지수 성별_NEW
0    지민  방탄소년단  빅히트  1  1995-10-13  173.6   A  10523260   None
1  지드래곤     빅뱅   YG  1  1988-08-18  177.0   A   9916947   None
2  강다니엘    NaN  커넥트  1  1996-12-10  180.0   A   8273745   None
3     뷔  방탄소년단  빅히트  1  1995-12-30  178.0  AB   8073501   None
4    화사    마마무  RBW  0  1995-07-23  162.1   A   7650928   None

### 1-2. (목표) cm당 브랜드 평판지수를 구해보세요 (브랜드평판지수/ 키)

키: 178
브랜드평판지수: 99000

값: 99000 / 178

In [ ]:
# 먼저 apply에 활용할 함수를 정의합니다.
def cm_to_brand(df):
    value = df['브랜드평판지수'] / df['키']
    return value

# apply를 통해 cm_to_brand함수의 입력으로 df 데이터프레임 전체를 전달한다.
# df를 전달할때는 axis=1이어야 한다.
df.apply(cm_to_brand, axis=1)

0     60617.857143
1     56027.949153
2     45965.250000
3     45356.747191
4     47198.815546
5     29260.308989
6     27371.321997
7              NaN
8     25503.950893
9     24156.128067
10             NaN
11    19158.617486
12    18866.594286
13    18603.051136
14    16812.885057
dtype: float64

## 2. lambda 함수의 적용

* lambda는 1줄로 작성하는 간단 함수식입니다.
* return을 별도로 명기하지 않습니다

In [ ]:
f = lambda x: 1 if x == '남자' else 0
df['성별'].apply(f)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 성별, dtype: int64

실제로는 **간단한 계산식을 적용하려는 경우에 많이 사용**합니다.

In [ ]:
df.head()

     이름     그룹  소속사 성별        생년월일      키 혈액형   브랜드평판지수 성별_NEW    키/2
0    지민  방탄소년단  빅히트  1  1995-10-13  173.6   A  10523260   None  86.80
1  지드래곤     빅뱅   YG  1  1988-08-18  177.0   A   9916947   None  88.50
2  강다니엘    NaN  커넥트  1  1996-12-10  180.0   A   8273745   None  90.00
3     뷔  방탄소년단  빅히트  1  1995-12-30  178.0  AB   8073501   None  89.00
4    화사    마마무  RBW  0  1995-07-23  162.1   A   7650928   None  81.05

In [ ]:
df['키/2'] = df['키'].apply(lambda x: x / 2)

In [ ]:
df['키'].apply(lambda x: x ** 2)

0     30136.96
1     31329.00
2     32400.00
3     31684.00
4     26276.41
5     31684.00
6     33233.29
7          NaN
8     32112.64
9     27922.41
10         NaN
11    33489.00
12    30625.00
13    30976.00
14    30276.00
Name: 키, dtype: float64

apply에 함수식을 만들어서 적용해주는 것과 동일하기 때문에, **복잡한 조건식은 함수**로 **간단한 계산식은 lambda로 적용**할 수 있습니다.

In [ ]:
import math
import time

# 타이머 시작
start = time.time()

#시간을 측정하고자하는 로직
math.factorial(100000)

#타이머 멈춤
end = time.time()

#소요시간 출력
print(f"{end - start:.5f} sec")

0.16559 sec

## 3. map - 값을 매핑!

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_NEW    키/2
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1  86.80
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1  88.50
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1  90.00
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1  89.00
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0  81.05

In [ ]:
my_map = {
    '남자': 1,
    '여자': 0
}

In [ ]:
# map이라는 함수를 사용할 때는 dict{} 하나 정의되어있어야 하고
# .map({dict})
df['성별'].map(my_map)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [ ]:
my_map = {
    '남자': 'male',
    '여자': 'female'
}

In [ ]:
df['성별'].map(my_map)

0       male
1       male
2       male
3       male
4     female
5       male
6       male
7     female
8       male
9       male
10    female
11      male
12      male
13      male
14      male
Name: 성별, dtype: object